In [1]:
import pandas as pd

In [2]:
#import school file
schools_file = "Resources/schools_complete.csv"
schools_df = pd.read_csv(schools_file)

#show a sample of school file
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
#import students file
students_file = "Resources/students_complete.csv"
students_df = pd.read_csv(students_file)

#show a sample of students file
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez MD,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [5]:
#Find out if there is any repeatitive data
#school_data_complete["Student ID"].value_counts()
#school_data_complete["school_name"].value_counts()

In [6]:
#Calculate the total number of schools
total_schools = schools_df["School ID"].count()
print(total_schools)

15

In [9]:
#Calculate the total number of students
total_students = school_data_complete["Student ID"].count()
print(total_students)

39170

In [10]:
#Calculate the total budget
total_budget = schools_df["budget"].sum()
print(total_budget)

24649428

In [11]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [12]:
#Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math_df = school_data_complete.loc[school_data_complete["math_score"]>=70]
pass_math_df.head()

pass_math_student = pass_math_df["Student ID"].count()
print(pass_math_student)

percent_pass_math = pass_math_student / total_students * 100
print(percent_pass_math)

29370
74.9808526933878

In [14]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading_df = school_data_complete.loc[school_data_complete["reading_score"]>=70]
pass_reading_df.head(100)

pass_reading_student = pass_reading_df["Student ID"].count()
print(pass_reading_student)

percent_pass_reading = pass_reading_student / total_students * 100
print(percent_pass_reading)

33610
85.80546336482001

In [15]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_reading_math_df = school_data_complete.loc[(school_data_complete["reading_score"]>=70) 
                                                & (school_data_complete["math_score"]>=70), :]
pass_reading_math_df.head(50)

pass_pass_reading_math = pass_reading_math_df["Student ID"].count()
print(pass_pass_reading_math)

percent_pass_reading_math = pass_pass_reading_math / total_students * 100
print(percent_pass_reading_math)

25528
65.17232575950983

In [17]:
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting
District_Summary_df = pd.DataFrame({"Total Number of Schools" : [total_schools],
                                    "Total Number of Students" : [total_students], 
                                    "Total Budget" : [total_budget], 
                                    "Average Math Score" : [average_math_score], 
                                    "Average Reading Score" : [average_reading_score],
                                    "% Passing Math" : [percent_pass_math], 
                                    "% Passing Reading" : [percent_pass_reading], 
                                    "% Overall Passing" : [percent_pass_reading_math]})
                    

District_Summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [18]:
District_Summary_df["Total Budget"] = District_Summary_df["Total Budget"].astype(float).map(
    "${:,.2f}".format)
District_Summary_df["Total Number of Students"] = District_Summary_df["Total Number of Students"].astype(float).map(
    "{:,.0f}".format)

District_Summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326